<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/assets/css/Kegiatan.css" class=""> -->
</head>
<body>
<section class="card-section">
    <div class="section-header">
      <h2>Kegiatan Terbaru</h2>
      <p>Informasi kegiatan dan agenda terkini</p>
    </div>

  <div class="card-list" id="card-list"></div>  <!-- grid card, diisi JS -->

  <a href="/pages/kegiatan/kegiatan.html" class="btn-lihat-semua">
    Lihat Semua Kegiatan →
  </a>
</section>
    
    <!-- <script src="/assets/js/Data_agenda.js"></script>
    <script src="/assets/js/Agenda-render.js"></script> -->
</body>
</html>